* {
    padding: 0;
    margin: 0px 0px 0px 5px;
    background-color: rgb(46, 46, 46);
    box-sizing: border-box;
}

html {
	scroll-behavior: smooth;
}

header {
    display: flex;
    justify-content: space-between;
    flex-wrap: wrap;
    position: sticky;
    top: 0;
    background-size: cover;
    background-position: center;
    background-position: 80%;
    z-index: 9999;
    font-family: 'Corbel';
}

header h1 {
    font-weight: bold;
    font-size: 3.5em;
    color: rgb(46, 46, 46);
    background-color: rgb(62, 233, 176);
    display: flex;
    justify-content: end;
    width: 20%;
    padding: 20px;
    margin: 15px 0px 15px 0px;
    text-shadow: 0 0 10px rgba(0, 0, 0, 0.349);
}

header a {
    color: rgb(62, 233, 176);
}

header nav {
    display: flex;
    align-items: center;
    margin-right: 50px;
    margin-bottom: 20px;
}

header nav ul {
    display: flex;
    justify-content: space-between;
    align-items: center;
    list-style: none;
}

.nav-link {
    border-bottom: 4px solid rgb(62, 233, 176);
    margin-right: 15px;
    padding-top: 10px;
}

header nav ul li a {
    padding: 10px 15px;
    font-weight: lighter;
    font-size: 40px;
    text-decoration: none;
    background-size: 10px;
    text-shadow: 0 0 13px rgba(0, 0, 0, 0.705);
}

header nav ul li a:hover {
    color: rgb(255, 255, 255);
    text-shadow: 0 0 13px rgba(0, 0, 0, 0.705);
    border-bottom: 4px solid rgb(255, 255, 255);
}

.hero {
    background-image: url("../images/hero-img8.jpg");
    background-repeat: no-repeat;
    background-size: cover;
    background-position: center;
    display: flex;
    justify-content: flex-end;
    flex-wrap: wrap;
    align-items: flex-start;
    background-attachment: fixed;
    background-position: 80%;
    padding: 0 0 0 10px;
    height: 300px;
}

.hero-head {
    width: 80%;
    color: rgb(46, 46, 46);
    font-size: 35px;
    display: flex;
    background-color: rgba(62, 233, 176, 0.6);
    justify-content: center;
    width: 550px;
    text-shadow: 0 0 10px rgba(0, 0, 0, 0.233);
    margin: 190px 50px 0px 0px;
}

.hero-head h2 {
    background-color: rgba(0, 0, 0, 0);
    font-family: 'Corbel';
}

#about-me {
    display: flex;
    background-color: white;
    justify-content: center;
}

#about-me p {
    margin-right: 100px;
}

.sections {
    display: flex;
    background-color: white;
    flex-direction: row;
    justify-content: center;
    width: 75vw;
}

.sections h2 {
    display: flex;
    background-color: white;
    margin: 20px 10px 15px 0px;
    justify-content: flex-end;
    padding: 15px 5px 0px 0px;
    font-family: 'Corbel';
    height: 230px;
    text-align: right;
    font-size: 75px;
    color: rgb(34, 126, 95);
    text-shadow: 0 0 10px rgba(0, 0, 0, 0.205);
}

.warrior {
    display: flex;
    flex-wrap: wrap;
    flex-direction: row;
    align-items: flex-start;
    background-color: white;
    padding: 15px 0px 0px 50px;
    margin: 50px 10px 40px 0px;
    color: rgb(46, 46, 46);
    font-family: 'Corbel';
    border-left: 5px solid rgb(34, 126, 95);
}

.warrior img {
    width: 528px;
    height: 230px;
    margin: 10px;
    border: 5px solid rgb(62, 233, 176);
}

.head-image {
    background-color: white;
}

.head-image img {
    width: 1100px;
    height: 650px;
}

.head-image img:hover {
    filter: saturate(120%) blur(3px) hue-rotate(40deg) drop-shadow(14px 14px 18px black) contrast(110%);
}

.sections h3 {
    background-color: white;
    margin-bottom: 15px;
}

.sections p {
    background-color: white;
    font-size: 18px;
}

.sections a {
    background-color: white;
}

#work {
    display: flex;
    background-color: white;
    justify-content: center;
}

#work h2 {
    margin-left: 30px;
}

.image-text {
    position: relative;
    margin: 0px;
    background-color: white;
}

.image-text h3 {
    position: absolute;
    background-color: rgb(62, 233, 176);
    top: 550px;
    left: 15px;
    width: 200px;
    height: 90px;
    font-size: 35px;
    font-family: 'Corbel';
    color: rgb(46, 46, 46);
    text-align: left;
    padding-left: 20px;
    padding-top: 5px;
    z-index: 5;
}

.image-text h4 {
    position: absolute;
    background-color: transparent;
    top: 605px;
    left: 15px;
    height: 80px;   
    font-size: 20px;
    font-family: 'Corbel';
    color: rgb(46, 46, 46);
    text-align: left;
    padding-left: 20px;
    z-index: 5;
}

.led-wall {
    background-color: white;
}

.led-wall-text {
    background-color: white;
    position: relative;
    margin: 0px;
}

.led-wall-text h3 {
    position: absolute;
    background-color: rgb(62, 233, 176);
    top: 130px;
    left: 15px;
    width: 160px;
    height: 90px;
    font-size: 35px;
    font-family: 'Corbel';
    color: rgb(46, 46, 46);
    text-align: left;
    padding-left: 20px;
    padding-top: 5px;
    z-index: 5;
}

.led-wall-text h4 {
    position: absolute;
    background-color: transparent;
    top: 185px;
    left: 15px;
    height: 80px;   
    font-size: 20px;
    font-family: 'Corbel';
    color: rgb(46, 46, 46);
    text-align: left;
    padding-left: 20px;
    z-index: 5;
}

.led-wall img:hover {
    filter: saturate(120%) blur(3px) hue-rotate(40deg) drop-shadow(14px 14px 18px black) contrast(110%);
}

.pastel-puzzle {
    background-color: white;
}

.pastel-puzzle-text {
    background-color: white;
    position: relative;
    margin: 0px;
}

.pastel-puzzle-text h3 {
    position: absolute;
    background-color: rgb(62, 233, 176);
    top: 130px;
    left: 15px;
    width: 245px;
    height: 90px;
    font-size: 35px;
    font-family: 'Corbel';
    color: rgb(46, 46, 46);
    text-align: left;
    padding-left: 20px;
    padding-top: 5px;
    z-index: 5;
}

.pastel-puzzle-text h4 {
    position: absolute;
    background-color: transparent;
    top: 185px;
    left: 15px;
    height: 80px;   
    font-size: 20px;
    font-family: 'Corbel';
    color: rgb(46, 46, 46);
    text-align: left;
    padding-left: 20px;
    z-index: 5;
}

.pastel-puzzle img:hover {
    filter: saturate(120%) blur(3px) hue-rotate(40deg) drop-shadow(14px 14px 18px black) contrast(110%);
}

.calculator {
    background-color: white;
}

.calculator-text {
    background-color: white;
    position: relative;
    margin: 0px;
}

.calculator-text h3 {
    position: absolute;
    background-color: rgb(62, 233, 176);
    top: 130px;
    left: 15px;
    width: 210px;
    height: 90px;
    font-size: 35px;
    font-family: 'Corbel';
    color: rgb(46, 46, 46);
    text-align: left;
    padding-left: 20px;
    padding-top: 5px;
    z-index: 5;
}

.calculator-text h4 {
    position: absolute;
    background-color: transparent;
    top: 185px;
    left: 15px;
    height: 80px;   
    font-size: 20px;
    font-family: 'Corbel';
    color: rgb(46, 46, 46);
    text-align: left;
    padding-left: 20px;
    z-index: 5;
}

.calculator img:hover {
    filter: saturate(120%) blur(3px) hue-rotate(40deg) drop-shadow(14px 14px 18px black) contrast(110%);
}

.run-buddy {
    background-color: white;
}

.run-buddy-text {
    background-color: white;
    position: relative;
    margin: 0px;
}

.run-buddy-text h3 {
    position: absolute;
    background-color: rgb(62, 233, 176);
    top: 130px;
    left: 15px;
    width: 195px;
    height: 90px;
    font-size: 35px;
    font-family: 'Corbel';
    color: rgb(46, 46, 46);
    text-align: left;
    padding-left: 20px;
    padding-top: 5px;
    z-index: 5;
}

.run-buddy-text h4 {
    position: absolute;
    background-color: transparent;
    top: 185px;
    left: 15px;
    height: 80px;   
    font-size: 20px;
    font-family: 'Corbel';
    color: rgb(46, 46, 46);
    text-align: left;
    padding-left: 20px;
    z-index: 5;
}

.run-buddy img:hover {
    filter: saturate(120%) blur(3px) hue-rotate(40deg) drop-shadow(14px 14px 18px black) contrast(110%);
}

#contact-me {
    display: flex;
    background-color: white;
    justify-content: center;
}

#contact-me h2 {
    margin-left: -85px;
}

#contact-me h3 {
    font-size: 40px;
    background-color: white;
    color: rgb(46, 46, 46);
    margin-right: 40px;
    padding-top: 60px;
}

#contact-me h3 a {
    border-bottom: 4px solid rgb(62, 233, 176);
    padding-top: 10px;
    padding-bottom: 5px;
}

#contact-me a:link {
    text-decoration: none;
    color: rgb(46, 46, 46);
}

#contact-me a:visited {
    text-decoration: none; 
    color: rgb(46, 46, 46);
}

#contact-me h3 a:hover {
    color: rgb(2, 2, 2);
    text-shadow: 0 0 13px rgba(0, 0, 0, 0.342);
    border-bottom: 4px solid rgb(46, 46, 46);
}

@media screen and (max-width: 980px) {
    header {
        flex-wrap: nowrap;
    } 

    header h1 {
        width: 20%;
        text-align: center;
      }

    header nav {
        margin-right: 80px;
    }

    header nav ul li a {
        padding: 0px;
    }

    .head-image img {
        width: 95%;
    }

    .hero {
        justify-content: center;
    }

    #about-me h2 {
        margin-left: -55px;
    }
    

    #contact-me h2 {
        margin-left: -100px;
    }
  }

  @media screen and (max-width: 768px) {
    header {
        position: static;
    }

    header h1 {
        width: 25%;
        text-align: center;
    }

    header nav {
        margin-right: 50px;
    }

    .nav-link {
        margin-right: 5px;
    }

    header nav ul li a {
        font-size: 30px;
    }

    #about-me {
        margin-right: -20px;
    }

    .sections h2 {
        font-size: 50px;
    }

    .warrior {
        width: 80%;
    }

    .head-image img {
        width: 100%;
    }

    .warrior img {
        width: 100%;
    }

    #contact-me {
        justify-content: end;  
    }

    #contact-me h3 {
        width: 50%;
    }

    #contact-me h2 {
        margin-left: -125px;
    }

    .email, .phone, .github, .twitter {
        font-size: 30px;
    }

  }

  @media screen and (max-width: 575px) {
      header {
          display: inline;
          justify-content: space-around;
          text-align: center;
      }

      header h1 {
        width: 102.5%;
        justify-content: space-around;
    }

    header nav {
        width: 110%;
        justify-content: space-around;
        margin-left: -25px;
    }

      .hero {
          margin-top: 20px;
          width: 110%;
      }

      .sections h2 {
          font-size: 50px;

      }

      .warrior {
        width: 110%;
      }

      .warrior img {
        width: 170%;
    }

      #about-me {
        width: 110%;
          justify-content: space-around;
      }

      #about-me h2 {
          margin-left: -80px;
      }

      #about-me h3 {
        margin: 0px 0px 20px 0px;
      }

      #about-me p {
          margin: 0px;
      }

      #work {
        width: 110%;
          justify-content: start; 
      }

      #contact-me {
          width: 110%;
          justify-content: start; 
      }

      .image-text h4 {
          width: 250px;
      }

      .pastel-puzzle h4 {
        width: 250px;
      }

      #contact-me h2 {
        margin-left: 190px;
        font-size: 45px;
    }

  }